<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.sigabrt.storekit2_sample.palse_censor</key>
	<string>📉</string>
	<key>com.sigabrt.storekit2_sample.sleep_tracer_pillow</key>
	<string>🛌</string>
	<key>com.sigabrt.storekit2_sample.sleep_seminar_20250820</key>
	<string>📆</string>
	<key>com.sigabrt.storekit2_sample.monthly_subscription</key>
	<string>🔞</string>
	<key>com.sigabrt.storekit2_sample.teenager_monthly_subscription</key>
	<string>⑰</string>
	<key>com.sigabrt.storekit2_sample.kid_monthly_subscription</key>
	<string>🏫</string>
	<key>com.sigabrt.storekit2_sample.adult_access</key>
	<string>🔞🗓️</string>
	<key>com.sigabrt.storekit2_sample.teenager_access</key>
	<string>⑰🗓️</string>
	<key>com.sigabrt.storekit2_sample.kid_access</key>
	<string>🏫🗓️</string>
</dict>
</plist>
